body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('/src/assets/Background_Desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

@media screen and (max-width:600px) {
    body {
        background-image: url('/src/assets/Background_Mobile.jpg');
        /* background-position:; */
        background-repeat: repeat-y;
    }
}